
@{
    ViewBag.Title = "Print";
}

<h2>Print</h2>


<a rel="stylesheet" type="text/css" media="screen" href="your-app-core.css"></a> 
<a rel="stylesheet" type="text/css" media="print" href="your-app-core-print.css"></a> 