@model Demo_Booking_Lessons_For_Driving.Models.Learner 
@{
    ViewBag.Title = "ResultsView";
}
<div class="btn btn-success ">
    <strong>You have successfully made the booking : @HttpContext.Current.User.Identity.Name      </strong> 
</div>



